Source: vpnpptp-allde-edm
Section: net
Priority: optional
Maintainer: Alex Loginov <loginov_alex@inbox.ru>, <loginov.alex.valer@gmail.com>
Build-Depends: fpc-src >= 2.2.4, fpc >= 2.2.4, gdk-pixbuf, gtk+, glibc, gdb, lazarus, libglib1.2-devel, libgdk-pixbuf2-devel
Package: vpnpptp-allde-edm
Version: 0.1.9
Architecture: i386
Depends: gksu, pptp-linux, xl2tpd
Description: Tools for easy and quick setup and control VPN via PPTP/L2TP
 Инструмент для легкого и быстрого подключения и управления соединением VPN через PPTP/L2TP
 Інструмент для легкого і швидкого підключення і керування з'єднанням VPN через PPTP/L2TP

