Source: vpnpptp-allde
Section: net
Priority: optional
Maintainer: Alex Loginov <loginov_alex@inbox.ru>, <loginov.alex.valer@gmail.com>
Build-Depends: fpc-src >= 2.2.4, fpc >= 2.2.4, lazarus
Package: vpnpptp-allde
Version: 0.2.9
Architecture: all
Depends: gksu, pptp-linux, xl2tpd
Conflicts: vpnpptp-allde <= 0.2.8
Description: Tools for easy and quick setup and control VPN via PPTP/L2TP
 Инструмент для легкого и быстрого подключения и управления соединением VPN через PPTP/L2TP
 Інструмент для легкого і швидкого підключення і керування з'єднанням VPN через PPTP/L2TP
Homepage: http://code.google.com/p/vpnpptp/
