Source: vpnpptp-allde
Section: net
Priority: optional
Maintainer: Alex Loginov <loginov.alex.valer@gmail.com>
Build-Depends: fpc-src >= 2.4.2, fpc >= 2.4.2, lazarus >= 0.9.29
Package: vpnpptp-allde
Version: 0.3.3
Depends: gksu, pptp-linux, xl2tpd
Description: Tools for easy and quick setup and control VPN via PPTP/L2TP
 Инструмент для легкого и быстрого подключения и управления соединением VPN через PPTP/L2TP
 Інструмент для легкого і швидкого підключення і керування з'єднанням VPN через PPTP/L2TP
Homepage: http://code.google.com/p/vpnpptp/
Installed-Size: 15000
