Source: vpnpptp-allde
Section: net
Priority: optional
Maintainer: Alex Loginov <loginov.alex.valer@gmail.com>
Build-Depends: fpc-source >= 2.6.0, fpc >= 2.6.0, lazarus >= 1.0.1
Package: vpnpptp-allde
Version: 0.3.8
Description: Tools for easy and quick setup and control VPN via PPTP/L2TP/OpenL2TP
 Инструмент для легкого и быстрого подключения и управления соединением VPN через PPTP/L2TP/OpenL2TP
 Інструмент для легкого і швидкого підключення і керування з'єднанням VPN через PPTP/L2TP/OpenL2TP
Homepage: http://code.google.com/p/vpnpptp/
Installed-Size: 15000
